<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <footer>
    <div class="frame">
        <div class="contactus-1">Contact-us</div>
        <hr style="margin: 0 30px;">
        <div class="contactus-2">Get in touch!</div>
        <div class="contactus-3">
            <div class="contactus-3-1">
                <form>
                <div class="form-group">
                        <label for="name">Name:</label>
                        <input type="text" id="name" name="name">
                    </div>
                    <div class="form-group">
                        <label for="email">Email:</label>
                        <input type="email" id="email" name="email">
                    </div>
                    <div class="form-group">
                        <label for="message">Message:</label>
                        <textarea id="message" name="message"></textarea>
                    </div>
                    <button type="submit" class="send">Send</button>
                </form>
            </div>              
            <div class="contactus-3-2">
                <div class="contact-info">
                    <h3>Taguig National High School</h3>
                    <p>A. Reyes St. New Lower Bicutan, Taguig City</p>
                    <p>288467242</p>
                    <p>taguignationalhs1980@gmail.com</p>
                </div>
                <div class="hours">
                    <h3>Hours</h3>
                    <p>Monday - Friday: 8:00am - 4:00pm</p>
                </div>
            </div> 
        </div>
    </div>
</footer>
</body>
</html>