<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <div class="frame red">
    <div class="time">MARCH</div>
    <div class="event">
        <div class="event-1">EVENTS</div>
        <div class="event-2 snaps-inline">
            <div class="event-box">
                <div class="event-date">DEC 2</div>
                <div class="event-text">Lorem ipsum dolor sit, amet</div>
            </div>
            <div class="event-box">
                <div class="event-date">DEC 2</div>
                <div class="event-text">Lorem ipsum dolor sit, amet</div>
            </div>
            <div class="event-box">
                <div class="event-date">DEC 2</div>
                <div class="event-text">Lorem ipsum dolor sit, amet</div>
            </div>
            <div class="event-box">
                <div class="event-date">DEC 2</div>
                <div class="event-text">Lorem ipsum dolor sit, amet</div>
            </div>
            <div class="event-box">
                <div class="event-date">DEC 2</div>
                <div class="event-text">Lorem ipsum dolor sit, amet</div>
            </div>
        </div>
        <div class="event-3"><a class="event-link" href="news-update.html">VIEW ALL EVENTS>>></a></div>
    </div>
    <div class="announcement">
        <div class="announcement-1">ANNOUNCEMENTS</div>
        <div class="announcement-2 snaps-inline">
            <div class="announcement-box">
                <div class="announcement-date">DEC 2</div>
                <div class="announcement-text">Lorem ipsum dolor sit, amet</div>
            </div>
            <div class="announcement-box">
                <div  class="announcement-date">DEC 3</div>
                <div class="announcement-text">Lorem ipsum dolor sit, amet</div>
            </div>
            <div class="announcement-box">
                <div class="announcement-date">DEC 4</div>
                <div class="announcement-text">Lorem ipsum dolor sit, amet</div>
            </div>
            <div class="announcement-box">
                <div class="announcement-date">DEC 5</div>
                <div class="announcement-text">Lorem ipsum dolor sit, amet</div>
            </div>
            <div class="announcement-box">
                <div class="announcement-date">DEC 6</div>
                <div class="announcement-text">Lorem ipsum dolor sit, amet</div>
            </div>
        </div>
        <div class="announcement-3"><a class="announcement-link" href="news-update.html">VIEW ALL ANNOUNCEMENTS>>></a></div>
    </div>
    
</div>
</body>
</html>