<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <div class="frame red">
    <div class="news">
        <div class="news-1">NEWS</div>
        <div class="news-2">
            <div class="news-box">
                <div class="news-pic"><img class="newspic-size" src="../../assets/images/news-1.png" alt=""></div>
                <div class="news-text"><p>The SHS Science and Mathematics Club is honored to present you the Top 3 winners of the Tower of Hanoi Finals</p></div>
            </div>
            <div class="news-box">
                <div class="news-pic"><img class="newspic-size" src="../../assets/images/news-2.png" alt=""></div>
                <div class="news-text"><p>The SHS Science and Mathematics Club is honored to present you the Top 5 winners of the SciDaMath Finals</p></div>
            </div>
            
        </div>
        <div class="news-3"><a class="news-link" href="news-update.html">ALL NEWS >></a></div>
    </div>
</div>
</body>
</html>
