<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="frame">
    <div class="fr1-1">
        <div class="fr1-1-1">ABOUT US</div>
        <hr style="margin: 0 30px;">
        <ul class="our-goal">OUR GOAL
            <li class="goal-text">Promote a happy, fulfilled, and purpose-driven life by making stakeholders realize that God has given us different gifts which can be developed and shared.</li>
            <li class="goal-text">Provide activities that will manifest the school's respect for different cultures and concerns for others by recognizing and embracing individual differences.</li>
            <li class="goal-text">Develop a love for learning by enlightening the learners of its relevance to their real life.</li>
            <li class="goal-text">Provide an enriching environment and opportunities for the students to acquire 21st Century skills, making them capable to face the challenges of the times.</li>
            <li class="goal-text">Instill respect, humility, good conscience, and genuine service to others.</li>
        </ul>
    </div>
    <div class="fr1-2">
        <div class="fr1-left">
            <img src="../../assets/images/vision.svg" alt="walk" class="walk">
            <div class="goal-cent">
                <div class="vision">VISION <br>&nbsp;</div>
                <div class="vision-text">
                    A loving, caring, peaceful and progressive 
                    city serving God and all Taguigenos by inspiring
                    and empowering them to dream, develop,
                their potentials and lead meaningful lives.</div>
            </div>
        </div>
        <div class="fr1-right">
            <img src="../../assets/images/mission.svg" alt="" class="eye">
            <div class="goal-cent">
                <div class="mission">MISSION <br>&nbsp;</div>
                <div class="mission-text">The mission of a city is not accomplished
                by simply maintaining peace and order,
                creating wealth and providing social services.
                It is truly accomplished when the city inspires and
                empowers its citizens to dream, develop their potentials
                and lead meaningful
                lives, as one created in God's image.</div>
            </div>
        </div>
    </div>
</div>
</body>
</html>