<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    
    
</head>
    <body>
        
        <div class="container-1">
            <div class="faculty"><h1 style="font-weight: 200;">FACULTY</h1></div>
            <div class="principal"><img  style="width: 150px;" src="../../assets/images/Principal.jpg" alt="jonathan"></div>
            <div class="tnhs-1"><h3 class="tnhs" style="font-weight: 700; background-color: rgb(240, 246, 252);">Principal</h3></div>
            <div class="au" style="display: flex; justify-content: center; background-color: rgb(240, 246, 252);">
                <div>Jonathan&nbsp;Joaquin</div>
            </div>
        </div>    
            <div><h3 class="tnhs" style="font-weight: 700; background-color: rgb(240, 246, 252);">Teachers</h3></div>
            <h3 class="gr">Grade&nbsp;8&nbsp;Teachers:</h3>
            <div class="background"><h2>Grade&nbsp;8&nbsp;Coordinator</h2>
                <div class="row-pics">
                    <div class="row-1">
                        
                        <div class="teacher"><img class="pics" src="../../assets/gr teachers/gr-8/Bilaw, Irene E. (HEAD).png" alt=""><br> Irene&nbsp;E.&nbsp;Bilaw</div>
                        <div class="teacher"><img class="pics" src="../../assets/gr teachers/gr-8/Sagaban, Sergio S. Jr. (HEAD).png" alt=""><br> Sergio&nbsp;S.&nbsp;Sagaban&nbsp;Jr.</div>
                    </div>
                    
                    <div class="row-2">
                        <div class="teacher"><img class="pics gr-pic" src="../../assets/gr teachers/gr-8/Adriano, Joan P. (FILIPINO).png" alt="">Joan P. Adriano</div>
                        <div class="teacher"><img class="pics gr-pic" src="../../assets/gr teachers/gr-8/ALIS, CLARISSA P. (FILIPINO).png" alt="">CLARISSA P. ALIS</div>
                        <div class="teacher"><img class="pics gr-pic" src="../../assets/gr teachers/gr-8/Capistrano, Erica C. (FILIPINO).png" alt="">Erica C. Capistrano</div>
                    </div>
                    <div class="row-2">
                        <div class="teacher"><img class="pics gr-pic" src="../../assets/gr teachers/gr-8/Acla, Sherilene M. (ENGLISH).png" alt=""> Sherilene M. Acla</div>
                        <div class="teacher"><img class="pics gr-pic" src="../../assets/gr teachers/gr-8/Borboran, Chei Kizzia B. (ENGLISH).png" alt="">Chei Kizzia B. Borboran </div>
                    </div>
                        <div class="row-2">
                        <div class="teacher"><img class="pics gr-pic" src="../../assets/gr teachers/gr-8/Mapile, Romyna Fortuna G. (MATH).png" alt="">Mapile, Romyna Fortuna G.</div>
                        <div class="teacher"><img class="pics gr-pic" src="../../assets/gr teachers/gr-8/Tangonan, Iris L. (MATH).png" alt="">Tangonan, Iris L. </div>
                        <div class="teacher"><img class="pics gr-pic" src="../../assets/gr teachers/gr-8/Aguilar, Jose P. Jr. (MATH).png" alt="">Aguilar, Jose P. Jr.</div>
                    </div>
                    <div class="row-2">
                        <div class="teacher"><img class="pics gr-pic" src="../../assets/gr teachers/gr-8/Riveza, Agape Grace D. (SCIENCE).png" alt="">Riveza, Agape Grace D.</div>
                        <div class="teacher"><img class="pics gr-pic" src="../../assets/gr teachers/gr-8/Gacutan, Lita A. (SCIENCE).png" alt="">Gacutan, Lita A. </div>
                    </div>
                    <div class="row-2">
                        <div class="teacher"><img class="pics gr-pic" src="../../assets/gr teachers/gr-8/Albito, Pedro Q. (AP).png" alt="">Albito, Pedro Q.</div>
                        <div class="teacher"><img class="pics gr-pic" src="../../assets/gr teachers/gr-8/Vivar, Bryan Joshua S.  (AP).png" alt="">Vivar, Bryan Joshua S.</div>
                    </div>
                    <div class="row-2">
                        <div class="teacher"><img class="pics gr-pic" src="../../assets/gr teachers/gr-8/Cruz, Irra Micah C. (MAPEH).png" alt="">Cruz, Irra Micah C.</div>
                        <div class="teacher"><img class="pics gr-pic" src="../../assets/gr teachers/gr-8/Balmaceda, Maria Irele T. (MAPEH).png" alt="">Balmaceda, Maria Irele T.</div>
                    </div>
                    <div class="row-2">
                        <div class="teacher"><img class="pics gr-pic" src="../../assets/gr teachers/gr-8/Cleofe, Anita V..png" alt="">Cleofe, Anita V..png</div>
                        <div class="teacher"><img class="pics gr-pic" src="../../assets/gr teachers/gr-8/Guarino, Jonathan M. (TLE).png" alt="">Guarino, Jonathan M.</div>
                    </div>
                    <div class="row-2">
                        <div class="teacher"><img class="pics gr-pic" src="../../assets/gr teachers/gr-8/Lastimado, Arturo V. (ESP).png" alt="">Lastimado, Arturo V.</div>
                        <div class="teacher"><img class="pics gr-pic" src="../../assets/gr teachers/gr-8/Tanora, Vincentius Invictus M. (ESP).png" alt="">Tanora, Vincentius Invictus M.</div>
                    </div>
                </div>
            </div>
            <h3 class="gr">The&nbsp;Researchers:</h3>
            <div class="background">
                <div class="row-pics">
                    <div class="row-1">
                        <div class="teacher"><img class="pics gr-pic" src="../../assets/images/calzado.jpg" alt="">Research leader<br> Janelle&nbsp;Calzado</div>
                        <div class="teacher"><img class="pics gr-pic" style="display: flex; justify-content: center; width: 150px;" src="../../assets/images/aquino.jpg" alt="">Hanna&nbsp;Aquino</div>
                    </div>
                    <hr>
                    <div class="row-2">
                        <div class="teacher"><img class="pics gr-pic" src="../../assets/images/gasis.jpg" alt="">Gasis</div>
                        <div class="teacher"><img class="pics gr-pic" src="../../assets/images/ihing.jpg" alt="">Ihing</div>
                        <div class="teacher"><img class="pics gr-pic" src="../../assets/images/morfe.jpg" alt="">Morfe</div>
                        <div class="teacher"><img class="pics gr-pic" src="../../assets/images/muksan.jpg" alt="">Muksan</div>
                    </div>
                </div>
            </div>
    </body>
</html>