<header>
    <div class="topbar">
        <div class="logo"><img class="img1" style=" width: 70px; height: auto; justify-content: center;" src="../../assets/images/school-logo.png" alt="shoes" ></div>
        <div><a routerLink="" style="text-decoration:none; font-size: 200%;  "><span class="top-left2" style="border: solid 2px black; margin-top: 12px;"><!--I&nbsp;LOVE&nbsp;-->T.N.H.S.</span></a></div>
    </div>    
      <input type="checkbox" id="nav-toggle" class="nav-toggle">
      <nav>
          <ul>
              <li><a routerLink="/admission">ADMISSION</a></li>
              <li><a routerLink="/news-updates">NEWS&nbsp;&#38;&nbsp;UPDATES</a></li>
              <li class="op"><a routerLink="#">ABOUT&nbsp;US</a>
                  <div class="no">
                      <a routerLink="/faculty" class="abtus">FACULTY</a>
                      <a routerLink="/about-us" class="abtus2">SCHOOL&nbsp;INFO</a>
                  </div>
              </li>
              <li><a routerLink="/contact">Contact</a></li>
          </ul>
      </nav>
    <label for="nav-toggle" class="nav-toggle-label">
        <span></span>
    </label>
</header>
<router-outlet></router-outlet>
