<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    
    
</head>
    <body>
        
        <div class="container">
            <div class="page-title"><h1 style="font-weight: 200;">News&nbsp;&#38;&nbsp;Updates</h1></div>
            <div class="events">
                <img class="event-pic" style="width: 90%;height: 100%;" src="../../assets/images/event-3.jpg" alt="">
                <div class="event-details">
                    <h4 class="event-title">Yes-O: Now you see me</h4>
                    <p class="event-description">Lorem ipsum dolor sit amet consectetur adipisicing elit.l</p>
                </div>
            </div>
            <div class="events">
                <img class="event-pic" style="width: 90%;height: 100%;" src="../../assets/images/xevent-1.jpg" alt="">
                <div class="event-details">
                    <h4 class="event-title">Yes-O: Now you see me</h4>
                    <p class="event-description">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                </div>
            </div>
        </div>
    </body>

</html>