@import url('https://fonts.googleapis.com/css?family=Work+Sans:300,600');

:root {
  --background: #ff4242;}

*, *::before, *::after {
  box-sizing: border-box;}

body {
	margin: 0;
	background-color: #fff8f8;
	font-family: 'Work Sans', sans-serif; font-weight: 400;}

h3, p{
  margin: 5px 0 5px 0;}
@media screen and (min-width: 1000px) {

  #container{
    min-height: 100%;
    padding-bottom: 250px;}
  
}