<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    
    
</head>
    <body>
        
        <div class="container-1" id="container">
            <div class="div-home" id="home">
                <div class="quote"><h1><q>YOUR JOURNEY STARTS HERE!!</q></h1></div>
                <div class="upper">
                    <div class="upper-right border seven">
                        <div class="intro"><h1><b>Grade 7</b></h1></div>
                        <div class="name"><h3>Registration Link</h3></div>
                        <div class="about"><a href="https://forms.gle/4wQkbkp4gHRDgw8Q7" style="text-decoration: none;" target="_blank" class="seven button">Here</a></div>
                    </div>
                    <div class="upper-right border eight">
                        <div class="intro"><h1><b>Grade 8</b></h1></div>
                        <div class="name"><h3>Registration Link</h3></div>
                        <div class="about"><a href="https://forms.gle/rcUqgMRzyUsf83xF6" style="text-decoration: none;" target="_blank" class="eight button">Here</a></div>
                    </div>
                    <div class="upper-right border nine">
                        <div class="intro"><h1><b>Grade 9</b></h1></div>
                        <div class="name"><h3>Registration Link</h3></div>
                        <div class="about"><a href="https://forms.gle/fGKuWZ2wBSRtuXhe6" style="text-decoration: none;" target="_blank" class="nine button">Here</a></div>
                    </div>
                    <div class="upper-right border ten">
                        <div class="intro"><h1><b>Grade 10</b></h1></div>
                        <div class="name"><h3>Registration Link</h3></div>
                        <div class="about"><a href="https://forms.gle/Md2LxPTDG8tTLLV19" style="text-decoration: none;" class="ten button">Here</a></div>
                    </div>
                    <div class="upper-right border eleven">
                        <div class="intro"><h1><b>Grade 11</b></h1></div>
                        <div class="name"><h3>Registration Link</h3></div>
                        <div class="about"><a href="https://forms.gle/PToieo6mLA6qwK7x5" style="text-decoration: none;" target="_blank" class="eleven button">Here</a></div>
                    </div>
                    <div class="upper-right border twelve">
                        <div class="intro"><h1><b>Grade 12</b></h1></div>
                        <div class="name"><h3>Registration Link</h3></div>
                        <div class="about"><a href="https://forms.gle/PaGD6M9bD6nS8ckQA" style="text-decoration: none;" target="_blank" class="twelve button">Here</a></div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>