<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>{{title}}</title>
      
      
  </head>
  <body>
      <header>
          <div class="topbar">
              <div class="logo"><img class="img1" style=" width: 70px; height: auto; justify-content: center;" src="../../assets/images/school-logo.png" alt="shoes" ></div>
              <div><a routerLink="" style="text-decoration:none; font-size: 200%;  "><span class="top-left2" style="border: solid 2px black; margin-top: 12px;"><!--I&nbsp;LOVE&nbsp;-->T.N.H.S.</span></a></div>
          </div>    
            <input type="checkbox" id="nav-toggle" class="nav-toggle">
            <nav>
                <ul>
                    <li><a routerLink="/admission">ADMISSION</a></li>
                    <li><a routerLink="/news-updates">NEWS&nbsp;&#38;&nbsp;UPDATES</a></li>
                    <li class="op"><a routerLink="#">ABOUT&nbsp;US</a>
                        <div class="no">
                            <a routerLink="/faculty" class="abtus">FACULTY</a>
                            <a routerLink="/about-us" class="abtus2">SCHOOL&nbsp;INFO</a>
                        </div>
                    </li>
                    <li><a routerLink="/contact">Contact</a></li>
                </ul>
            </nav>
          <label for="nav-toggle" class="nav-toggle-label">
              <span></span>
          </label>
      </header>
        
      <div id="container">
          <div class="container-1">
              <div class="banner"><img class="first" src="../../assets/images/school.jpg" alt="logo">
              </div>
              
          </div>
          <div class="container-logo">
              <!-- <div class="logo"><img class="imgs" style=" width: 70px; height: auto; justify-content: center;" src="z/image/school-logo.png" alt="shoes" ></div> -->
          </div>    
      </div>

      <!--     FRAME 1     -->
      <app-frame1></app-frame1>
      <!--     FRAME 2     -->

      <app-frame2></app-frame2>

          <!-- FRAME 3     -->

      <app-frame3></app-frame3>
      
      
  </body>
</html>
<router-outlet></router-outlet>
<app-footer></app-footer>